doctype html
html
    head
        link(rel='stylesheet', href='animation.css')
        title Loading ...
    body
        svg(xmlns='http://www.w3.org/2000/svg', version='1.1')
            defs
                filter#goo
                    fegaussianblur(in='SourceGraphic', stddeviation='10', result='blur')
                        fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 35 -10', result='goo')
                            feblend(in='SourceGraphic', in2='goo', operator='atop')
        .loader
            div
            div
            div
            div
            div

